body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-image: url(../Img/dot.png);
    background-color: rgb(248, 245, 241);
    
}

.hidden {
    visibility: hidden;
}

#Nav-Bar-Esquerda{
   padding: 0;
   position: fixed;
   height: 90vh;
   background-color: rgb(250, 248, 248);
   width: 270px;
   box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.2);
   /* border-top-right-radius: 8px; */
   border-bottom-right-radius: 8px;   
   transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
   top:10px;
}

#Nav-Bar-Esquerda ul{    
    padding: 0;    
    list-style: none;   
    position: relative;  
}

#Nav-Bar-Esquerda ul li{
    align-items: center;
    text-indent: 35px;      
    margin:0 auto;      
    letter-spacing: 0.6px;
    height: 40px;
}


#Nav-Bar-Esquerda #perfil{
    margin: 0 auto;
    width: 90%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;    
    border-bottom-right-radius: 10px;
    border: 3px solid rgb(185, 184, 184); 
    border-top: none;
}

#Nav-Bar-Esquerda #perfil figure{
    float:right;
   border-radius: 100%;
   height: 55px;
   width: 55px;
   border:3px solid gray;
   margin: 10px;
   background-color: gray;
}

#Nav-Bar-Esquerda #perfil figure img{
    height: 55px;
    width: 55px;
}

#Nav-Bar-Esquerda #perfil #dados-User{
    position: absolute;
    padding: 0;
    margin:10px;    
    font-size: 13px;  
    letter-spacing: 0.6px;   
 }

#Nav-Bar-Esquerda #perfil #dados-User p{
   padding: 0;
   margin: 8px;
   font-size: 13px;  
   letter-spacing: 0.6px;   
}

#Nav-Bar-Esquerda #Open-Close{ 
    position:absolute;  
    height: 55px;
    width: 28px;
    background-color:  rgb(250, 248, 248);   
    margin-left: 270px;  
    box-shadow: 3px 1px 3px 1px rgba(0,0,0,0.2);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    display:flex;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);

    
 }

 #Nav-Bar-Esquerda #Open-Close i{ 
    font-size: 15px;
    margin:0 auto;
    color:gray;
    position: absolute;
    margin-left:9px;
 }


 #Nav-Bar-Esquerda ul li .Titulo h4{
   margin: 0;
}

#Nav-Bar-Esquerda ul li .Titulo .divider{
    width: 220px;
    height: 1px;
    background: rgb(206, 204, 204);
    margin-left:25px;
    box-shadow: 0px 2px 4px 1px rgb(0,0,0,0.1);
}

 
 #Nav-Bar-Esquerda ul li #add-toDo{
    text-indent: 35px;
    display: flex;    
    margin:0 auto;         
    letter-spacing: 0.6px;
    height: 40px;
}

#Nav-Bar-Esquerda ul li #add-toDo {
    color:rgb(172, 172, 172);
    margin-top:10px;
    width: 100%;
    display: block;
    cursor:pointer;
}

#Nav-Bar-Esquerda ul li #add-toDo i{
    color:rgb(172, 172, 172);
    float: right;
    margin-right: 40px;
}



