<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>OrganizeIt</title>
    <link rel="icon" href="../img/LogoProvisoria.png" type="image/x-icon">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>

        <nav id="Nav-Bar-Esquerda">
            <ul>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
                <li>Link aqui</li>
            </ul>

        </nav>
    
</body>
</html>