<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/login.css" rel="stylesheet" type="text/css"> 
    <script src="../scripts/Script.js"></script>
</head>
<body>   
       <div id="wave-top"></div>
        <section id="postits">
           <div id="postit-1"></div>
           <div id="postit-2"></div>
           <div id="postit-3"></div>
         </section>

         <div id="Container-Login">
            <figure id="logo">
            </figure>
            <div id="form-login">
                <form method="post">
                    <div>
                        <label></label>
                        <input type="text">

                    </div>
                </form>

            </div>

         </div>
        <div id="wave-bottom"></div>
</body>
</html>